<template>
   <div class="container" >
        <div class="row" id="chatBot">
          <div class="col-md-8">
            <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">
          </div>
          
          <div class="col-md-2">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="btn-chat" @click="sendMessage">
                    Send
                </button>
            </span>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user: this.user,
                    message: this.newMessage
                });

                this.newMessage = ''
            }
        }    
    }
</script>